# JetBrains
.idea/
**/.idea/
*.iml

# CMake / build outputs
cmake-build-*/
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CMakeUserPresets.json

# C/C++ artifacts
*.a
*.o
*.obj
*.exe
*.out
ultima_os
*.dSYM/

ULTIMA/Phase 1 (Scheduler)/Ultima
ULTIMA/Phase 1 (Scheduler)/Ultima [0-9]*
ULTIMA/Phase 1 (Scheduler)/ultima_os [0-9]*

# Local caches
tmp/

# macOS Finder
.DS_Store
!/ULTIMA/Phase 4 (IPC EC)/libultima_os_phase2.a
!/ULTIMA/Phase 4 (IPC EC)/libultima_os_phase2.a

